.app_dark_theme{
    --bg-color: #343434;
    --text-color: #f5f5f5;

    --inverted-text-color: #161718;
    --inverted-bg-color: #bbbbbb;

    --links-color: #000;

    --theme-icon-fill: rgb(255, 165, 0);
}