.app_light_theme{
    --bg-color: #bbbbbb;
    --text-color: #000;

    --inverted-text-color: #bbbbbb;
    --inverted-bg-color: #343434;

    --links-color: #fff;

    --theme-icon-fill: rgb(64, 64, 248);
}