.select {
    margin-left: 1rem;
    padding: .4rem;
    border-radius: 4px;
    outline: none;
    background-color: teal;
    cursor: pointer;
    
    & option {
        background-color: teal;
    }
}