.header{
    background-color: var(--inverted-bg-color);
    width: 100%;
    height: var(--navbar-height);
    border-bottom: 3px solid palegreen;

    padding: 20px;

    display: flex;
    align-items: center;

    &__logo{
        color: palegreen;
        font-size: 20px;
        font-weight: bold;
    }

    &__links{
        margin-left: auto;
    }
}