.header{
    background-color: var(--inverted-bg-color);
    width: 100%;
    height: var(--navbar-height);
    border-bottom: var(--navbar-border-bottom-width) solid var(--primary-color);

    padding: 20px;

    display: flex;
    align-items: center;

    &__logo{
        color: var(--primary-color);
        font-size: 20px;
        font-weight: bold;
    }

    &__links{
        margin-left: auto;
    }
}

.themeswithcer{
    margin-left: 10px ;
}